@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 338 81% 83%;
    --foreground: 184 77.9% 46.1%;

    --card: 338 81% 83%;
    --card-foreground: 184 77.9% 46.1%;

    --popover: 338 81% 83%;
    --popover-foreground: 184 77.9% 46.1%;

    --primary: 184 77.9% 46.1%;
    --primary-foreground: 338 81% 83%;

    --secondary: 338 81% 83%;
    --secondary-foreground: 174 100% 37%;

    --muted: 338 81% 83%;
    --muted-foreground: 184 77.9% 46.1%;

    --accent: 184 77.9% 46.1%;
    --accent-foreground: 338 81% 83%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 184 77.9% 46.1%;
    --input: 184 77.9% 46.1%;
    --ring: 184 77.9% 46.1%;

    --radius: 0.5rem;

    --white: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-black;
  }
}
.skull {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sharp-text {
  font-family: 'Montserrat', sans-serif;
}

.sharp-text-h1 {
  font-size: clamp(3rem, 12vw, 11rem);
}

.sharp-text-h2 {
  font-size: clamp(2.5rem, 8vw, 7rem);
}

.sharp-text-h3 {
  font-size: clamp(2rem, 6vw, 6rem);
}

.sharp-text-p {
  font-size: clamp(1.5rem, 4vw, 4rem);
}
